
<h1>Word: </h1><h2>"<%= @word.get_word %>"</h2>
<h1>Definition Added: </h1><h2>"<%= @definition.get_definition()%>"</h2>

<a class="link" href="/">Dictionary Home</a><br>
<a href="/word/<%=@word.id()%>">Back to <%= @word.get_word %></a>
